<div data-c-padding="tb(3)">
    <div data-c-container="base(full, center)">
        <h2 
            data-c-font-size="h2"
            data-c-margin="bottom(2)">{{ purposeTitle }}</h2>
        <div data-c-grid="gutter(all, 3) top">
            <div data-c-grid-item="base(1of1) tl(3of5)">
                <p>{{ purposeDescription }}</p>
                <p data-c-margin="top(1)" data-c-font-weight="bold">This demo has not yet been finalized or approved for use.</p>
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-margin="top(2)">What this demo <span data-c-font-weight="bold" data-c-color="go">does do</span>:</p>
                        <ul data-c-margin="top(1)">
                            {% for item in does %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div data-c-grid-item="base(1of1) tl(1of2)">
                        <p data-c-margin="top(2)">What this demo <span data-c-font-weight="bold" data-c-color="stop">does not do</span>:</p>
                        <ul data-c-margin="top(1)">
                            {% for item in doesNot %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <p data-c-margin="top(2)">If you have any questions or comments, please <a href="mailto:paul.krisciunas@tbs-sct.gc.ca" title="Email us with your feedback!">contact us via email</a>.</p>
            </div>
            <div data-c-grid-item="base(1of1) tl(2of5)">
                <div
                    data-c-background="c1(10)"
                    data-c-border="all(thin, solid, c1)"
                    data-c-radius="rounded">
                    <div data-c-padding="all(2)">
                        <h2 
                            data-c-color="c1"
                            data-c-font-size="h3"
                            data-c-font-weight="bold">{{ toolsTitle }}</h2>
                        <p 
                            data-c-color="c1"
                            data-c-margin="tb(1)">{{ toolsDescription }}</p>
                        <ul data-c-color="c1">
                            {% for tool in tools %}
                                <li>
                                    <a
                                        href="{{ tool.link }}"
                                        title="{{ tool.title }}">{{ tool.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>